<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Rolling File Appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- Rolling policy: rotate daily and by size -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- Archived logs pattern -->
            <fileNamePattern>C:/Users/frsilva/Personnel/projects/Silver-Shop-System/logs/hevapratas-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- Max file size before rollover -->
            <maxFileSize>10MB</maxFileSize>
            <!-- Keep logs for 30 days
            <maxHistory>30</maxHistory> -->
            <!-- Total size cap for all logs -->
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>